__pycache__
.vscode
.vector_cache
.vectors
.slurm

# Some stuff that appers with singularity on Grid5000
.nv
etc
run
usr

symbolic_baseline/*/*.csv
*.pth

*.gz
*.sif
*.zip
siganalogies.cfg.json
generate.py

# Results folders
logs*
lightning_logs
results

unittesting/vect

snippets/fast-cosine.ipynb
bkp
*.bkp*
*.bkp

# code that should not appear in this branch
train_autoencoder_variational.py